{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Houston | Home</title>
    <!-- google fonts roboto regular -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,500' type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora:400,700' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/red.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.raty.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/hotel.style.css' %}">
</head>

<body class="rq-homepage-one">

<div id="rq-circle-loader-wrapper">
    <div id="rq-circle-loader-center">
        <div class="rq-circle-load">
            <img src="{% static 'img/oval.svg' %}" alt="Page Loader">
        </div>
    </div>
</div>

<!--================================
               MAIN BLOCK
    =================================-->
<div id="main-wrapper">

<!--================================
                SIDE MENU
    =================================-->
    {% include 'libapp/side_menu.html' %}

<!--================================
          Navigation Menu start
    =================================-->
    {% include 'libapp/nav.html' %}

<!--================================
          Block content start
    =================================-->
    {% block content %}
    {% endblock %}

<!--================================
                 Footer
    =================================-->
    {% include 'libapp/footer.html' %}

</div>
<!--main-wrapper-->

<!-- Latest jQuery plugin-->
<script src="{% static 'js/main.js' %}"></script>
<!-- Latest compiled and minified JavaScript for bootstrap-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/icheck.min.js' %}"></script>
<script src="{% static 'js/jquery.raty.js' %}"></script>
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>