{% load staticfiles %}

<!-- Footer -->
<footer class="footer">
    <div class="rq-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-logo">
                        <img src="{% static 'img/footer-logo2.png' %}" class="img-responsive"
                             alt="Responsive image"/>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h5>наш адрес</h5>
                    <address>
                        <ul>
                            <li class="rq-hotel-address"><i class="fa fa-map-marker"></i>{{ address }}</li>
                            <li class="rq-phone"><i class="fa fa-phone"></i>{{ phone_number }}</li>
                            <li class="rq-email"><i class="fa fa-envelope-o"></i>{{ email }}</li>
                        </ul>
                    </address>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h5>полезные ссылки</h5>
                    <ul class="rq-footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Booking System</a></li>
                        <li><a href="#">Hotel Services</a></li>
                        <li><a href="#">Booking Agent</a></li>
                        <li><a href="#">Conntact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h5>новостная рассылка</h5>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    <div class="rq-common-btn">
                        <button class="btn rq-btn-primary" type="submit">отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rq-footer-bottom">
        <div class="container">
            <div class="row">
                <p>&copy; Авторское право {% now 'Y' %}. Все права защищены</p>
            </div>
        </div>
    </div>
</footer>