{% load staticfiles %}
{% load utilities %}
<header>
    <!-- Navigation Menu start-->
    <nav class="navbar rq-header-main-menu navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Navbar Toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo2.png' %}"
                                                                      alt="Houston"></a>
            </div>
            <!-- Navbar Toggle End -->

            <!-- navbar-collapse start-->
            <div id="nav-menu" class="navbar-collapse rq-menu-wrapper collapse" role="navigation">
                <ul class="nav navbar-nav rq-menus">
                    {% for key, value in nav_hash.items %}
                        <li class="active">
                            <a href="{% url value.1 %}">{{ value.0 }}</a>
                            {% if value|len:'2' %}
                                <ul class="rq-sub-menu">
                                    {% for item in value|sls:'2' %}
                                        <li>
                                            <a href="{% if item.1 %} {% url item.1 %} {% else %}#{% endif %}">{{ item.0 }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}

                    {% if user.is_superuser or user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- navbar-collapse end-->

            <div class="rq-extra-btns-wrapper">
                <div class="rq-language">
                    <select class="js-example-placeholder-single form-control">
                        <option value="Eng">EN</option>
                        <option value="Spn">SPN</option>
                        <option value="Ger">GER</option>
                        <option value="Rus">RUS</option>
                    </select>
                </div>
                <button id="rq-side-menu-btn" class="cd-btn btn rq-sidemenu-btn"></button>
            </div>

        </div>
    </nav>
    <!-- Navigation Menu end-->
</header> <!-- / rq-header-section end here-->